@import "tailwindcss";
@import "@fontsource-variable/rubik";
@import "@fontsource-variable/montserrat";

@theme {
    --font-rubik: "Rubik Variable", sans-serif;
    --font-montserrat: "Montserrat Variable", sans-serif;
    --color-cw-pink-50: #f14794;
    --color-cw-pink-100: #ed1979;
    --color-cw-pink-150: #c20f60;
    --color-cw-green-10: #f1f7f2;
    --color-cw-green-100: #197a4e;
    --color-cw-dark-blue-50: #798899;
    --color-cw-dark-blue-100: #2a3349;
    --color-cw-grey-50: #eceeef;
    --color-cw-grey-100: #babbc7;
    --color-cw-red-100: #e51e38;
    --color-cw-white-100: #ffffff;
}

body {
    @apply m-0 font-rubik;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
